<?xml version="1.0"?>
<config>
    <modules>
        <SM_member>
            <version>0.1.0</version>
        </SM_member>
    </modules>
    <global>
        <models>
            <sm_member>
                <class>SM_member_Model</class>
            </sm_member>
        </models>
        <blocks>
            <sm_member>
                <class>SM_member_Block</class>
            </sm_member>
        </blocks>
        <helpers>
            <sm_member>
                <class>SM_member_Helper</class>
            </sm_member>
        </helpers>
        <resources>
            <sm_member_setup>
                <setup>
                    <module>SM_member</module>
                </setup>
            </sm_member_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <member>
                <use>standard</use>
                <args>
                    <module>SM_member</module>
                    <frontName>member</frontName>
                </args>
            </member>
        </routers>
        <layout>
            <updates>
                <member>
                    <file>member.xml</file>
                </member>
            </updates>
        </layout>
    </frontend>
</config>